p302부터 참고

## 파이썬과 MySQL 활용
    1. 파이썬과 MySQL를 연결하는 모듈 : mysqlclient, PyMySQL
        pip install mysqlclient
        pip install PyMySQL

mysqlclient 모듈 사용

In [1]:
import MySQLdb

In [6]:
#mysql 접속
conn=MySQLdb.connect(host='127.0.0.1',user='root',password='1111',database='testdb')
print(conn)
conn.close()

<_mysql.connection open to '127.0.0.1' at 00000000049B6248>

In [8]:
config={'host':'127.0.0.1','user':'root','password':'1111','database':'testdb'}
conn=MySQLdb.connect(**config)
print(conn)
conn.close()

<_mysql.connection open to '127.0.0.1' at 00000000003D9168>

In [60]:
# SELECT
conn = MySQLdb.connect(**config)

sql="SELECT empno, ename, sal, job, deptno FROM emp"

cursor=conn.cursor()
cursor.execute(sql)

print(cursor)

for data in cursor:
    print(data)
conn.close()

<MySQLdb.cursors.Cursor object at 0x000000000859B888>
(7369, 'SMITH', 800.0, 'CLERK', 20)
(7499, 'ALLEN', 1600.0, 'SALESMAN', 30)
(7521, 'WARD', 1250.0, 'SALESMAN', 30)
(7566, 'JONES', 2975.0, 'MANAGER', 20)
(7654, 'MARTIN', 1250.0, 'SALESMAN', 30)
(7698, 'BLAKE', 2850.0, 'MANAGER', 30)
(7782, 'CLARK', 2450.0, 'MANAGER', 10)
(7788, 'SCOTT', 3000.0, 'ANALYST', 20)
(7839, 'KING', 5000.0, 'PRESIDENT', 10)
(7844, 'TURNER', 1500.0, 'SALESMAN', 30)
(7876, 'ADAMS', 1100.0, 'CLERK', 20)
(7900, 'JAMES', 950.0, 'CLERK', 30)
(7902, 'FORD', 3000.0, 'ANALYST', 20)
(7934, 'MILLER', 1300.0, 'CLERK', 10)

In [17]:
#INSERT

conn = MySQLdb.connect(**config)
cur=conn.cursor()

sql="""INSERT INTO emp(empno, ename, sal, job, mgr,deptno, hiredate)
    VALUES(1, 'tom', 700, 'clerk', 7788, 20, now())"""

cur.execute(sql)
conn.commit()
conn.close()

In [28]:
conn = MySQLdb.connect(**config)
cur=conn.cursor()

v_empno=2
v_ename='jonsen'
v_sal=800

sql="INSERT INTO emp(empno, ename, sal, hiredate) VALUES("+str(v_empno)+",'"+v_ename+"',"+str(v_sal)+", now())"
cur.execute(sql)
conn.commit()
conn.close()

In [30]:
conn = MySQLdb.connect(**config)
cur=conn.cursor()

v_empno=3
v_ename='jane'
v_sal=700

sql="INSERT INTO emp(empno, ename, sal, hiredate) VALUES(%s, %s, %s, now())"
sql_data=(str(v_empno),str(v_ename),str(v_sal))

cur.execute(sql,sql_data)
conn.commit()
conn.close()

In [33]:
#DELETE

conn = MySQLdb.connect(**config)
cur=conn.cursor()

sql="delete from emp where empno BETWEEN 1 AND 3"

cur.execute(sql)
conn.commit()
conn.close()

---

## PyMySQL 모듈사용

In [2]:
import pymysql

In [37]:
#sql 접속
conn=pymysql.connect(host='127.0.0.1',user='root',password='1111',database='testdb',port=3306,charset='utf8')

print(conn)
conn.close()

<pymysql.connections.Connection object at 0x00000000085D39C8>

In [47]:
config={'host':'127.0.0.1','user':'root','password':'1111','database':'testdb','port':3306,'charset':'utf8'}
conn=pymysql.connect(**config)

print(conn)
conn.close()

<pymysql.connections.Connection object at 0x00000000085D3BC8>

In [55]:
conn=pymysql.connect(**config)
cur=conn.cursor()
#unsinged 양수만
sql="""
    CREATE TABLE IF NOT EXISTS pythonTable(
        id int unsigned not null auto_increment,
        name varchar(20) not null,
        regdate datetime,
        primary key(id)
    )
"""

cur.execute(sql)
cur.execute("show tables")

for i in cur:
    print(i)

conn.commit()
conn.close()

('bonus',)
('dept',)
('emp',)
('member',)
('post',)
('pythontable',)
('salgrade',)
('tbia',)
('tbib',)
('tbic',)
('tbitest',)
('tblbook',)
('tbldept',)
('tblemp',)
('tblexam',)
('tblindex',)
('vw_test',)

In [56]:
conn=pymysql.connect(**config)
try :
    with conn.cursor() as cur:
    #unsinged 양수만
        sql="""
            CREATE TABLE IF NOT EXISTS pythonTable(
            id int unsigned not null auto_increment,
            name varchar(20) not null,
            regdate datetime,
            primary key(id)
            )
        """
        cur.execute(sql)
        conn.commit()
finally:
    conn.close()

In [59]:
conn=pymysql.connect(**config)
try :
    with conn.cursor() as cur:
    #unsinged 양수만
        sql="INSERT INTO pythontable(name, regdate) VALUES('tom',now())"
        for _ in range(10):
            cur.execute(sql)
        conn.commit()
finally:
    conn.close()

ProgrammingError: Cursor closed

In [63]:
conn = MySQLdb.connect(**config)

sql="SELECT name, regdate FROM pythontable"

cursor=conn.cursor()
cursor.execute(sql)

print(cursor)

for data in cursor:
    print(data)
conn.close()

<MySQLdb.cursors.Cursor object at 0x0000000008A96448>
('tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
('tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
('tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
('tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
('tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
('tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
('tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
('tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
('tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
('tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
('tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
('tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
('tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
('tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
('tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
('tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
('tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
('tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
('tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
('tom', datetime.datetime(2019, 12, 30, 15, 16, 48))

In [66]:
conn=pymysql.connect(**config)
cur=conn.cursor()

cur.execute("SELECT * FROM pythontable")

for i in cur:
    print(i)
conn.close()

(1, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(2, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(3, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(4, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(5, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(6, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(7, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(8, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(9, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(10, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(11, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
(12, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
(13, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
(14, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
(15, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
(16, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
(17, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
(18, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
(19, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
(20, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))

In [12]:
#원하는 만큼의 데이터 가져오기 fetchmany(n),fetchone(),fetchall()
config={'host':'127.0.0.1','user':'root','password':'1111','database':'testdb','port':3306,'charset':'utf8'}
conn =pymysql.connect(**config)
cur=conn.cursor()

cur.execute("SELECT * FROM pythontable")

many=cur.fetchmany(3)
for i in many:
    print(i)

one=cur.fetchone()
print(one)

for i in cur.fetchall():
    print(i)
conn.close()

(1, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(2, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(3, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(4, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(5, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(6, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(7, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(8, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(9, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(10, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 31))
(11, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
(12, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
(13, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
(14, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
(15, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
(16, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
(17, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
(18, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
(19, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))
(20, 'tom', datetime.datetime(2019, 12, 30, 15, 16, 48))

In [20]:
#data결과를 dict로 처리해보자 : dictcursor
conn =pymysql.connect(**config)
cur=conn.cursor(pymysql.cursors.DictCursor)

sql="SELECT ename, job, sal, deptno from emp where sal>%s and deptno=%s"
cur.execute(sql,(1500,30))

for i in cur.fetchall():
    print(i)
    print(i['ename'], i['sal'], i['deptno'])

conn.close()

{'ename': 'ALLEN', 'job': 'SALESMAN', 'sal': 1600.0, 'deptno': 30}
ALLEN 1600.0 30
{'ename': 'BLAKE', 'job': 'MANAGER', 'sal': 2850.0, 'deptno': 30}
BLAKE 2850.0 30

In [33]:
#csv파일을 db에 저장하기

sql="""
    CREATE TABLE IF NOT EXISTS supplies(
        Supplier_Name   varchar(20), 
        Invoice_Number  varchar(20),
        Part_number     varchar(20),
        Cost            float,
        Purchase_Data   date
    );
    """
import csv
from datetime import datetime

conn =pymysql.connect(**config)
cur=conn.cursor()

sql="delete from supplies"
cur.execute(sql)
conn.commit()

file=csv.reader(open("data/input.csv"))
#print(file)
header=next(file)
#print(reader)

for row in file:
    #print(row)
    data=[]
    for col in range(len(header)):
        if col==4:
            tmp=datetime.strptime(row[col],"%Y-%m-%d")
            data.append(tmp)
        else:
            data.append(row[col])
    #print(data)
    cur.execute("insert into supplies values(%s,%s,%s,%s,%s)",data)
conn.commit()
conn.close()

In [2]:
#DB에서 가져온 데이터를 처리후 파일로 저장
import pymysql
import csv
from datetime import datetime
config={'host':'127.0.0.1','user':'root','password':'1111','database':'testdb','port':3306,'charset':'utf8'}

conn =pymysql.connect(**config)
cur=conn.cursor()

cur.execute("select * from supplies where cost>500000")
f=open("data/output.csv",'w')
file=csv.writer(f,delimiter=',')

header = ['Samplies Name', 'Invoice Name', 'Port Number', 'Cost', 'Purchase Date']
file.writerow(header)

for row in cur:
    file.writerow(row)

conn.close()
f.close()

---

## SQLite
    1. 로컬 DB로 사용할수 있는 DMBS
        - Access
        - Sqlite
        - Microsofr SQL Server Compact Edition
        - Firebird Embedded Server
        - H2
        - HSQL
        - Apecte Derby
        ....
    2. 특징
        1)파일 기반에 DBMS, 저메모리, 빠른 처리속도
        2) 오픈소스
        3) 별도의 DB서버가 없어도 쉽고 편리하게 사용할수 있는 Embeded SQL DB엔진
        4) 안드로이드, 아이폰 등의 스마트폰에 기본 내장된 DB
        5) 표준 SQL 지원
        6) 파이썬에도 내장
        -----------------
        단점
        7) 컬럼을 삭제하거나 변경하는것 등이 제한
        8) JOIN에서는 left outter join만 사용가능
        9) 읽기 전용 뷰만 제공
        ----
    3. 공식 사이트 : http://sqlite.org
    
    4. 클라이언트 툴
        - http://www.sqliteexpart.com
    5. 실습
        CREATE TABLE tblmember(
            id int,
            name varchar(10),
            regdate datetime
         );

In [7]:
import sqlite3

print(sqlite3.version)
print(sqlite3.sqlite_version)

2.6.0
3.30.0

In [9]:
conn =sqlite3.connect("data/sqlite.db")
cur = conn.cursor()
print(cur)
conn.close()

<sqlite3.Cursor object at 0x00000000088E6420>

In [18]:
conn =sqlite3.connect("data/sqllite.db")
cur = conn.cursor()

sql= "SELECT * FROM tblMember"
cur.execute(sql)
for row in cur:
    print(row)
    
conn.close()

(1, '홍길동', '2019-12-31')
(2, '임꺽정', '2019-12-31')

In [19]:
conn =sqlite3.connect("data/sqllite.db")
cur = conn.cursor()

cur.execute("insert into tblmember values(3, '홍경래', date('now'))")
conn.commit()
conn.close()

In [24]:
#csv파일을 읽어서 DB에 저장

import csv
file = csv.reader(open("data/input.csv",'r'),delimiter=',')
header=next(file)

conn =sqlite3.connect("data/sqllite.db")
cur = conn.cursor()

for row in file:
    data=[]
    for col in range(len(header)):
        data.append(row[col])
    cur.execute("insert into supplies values(?, ?, ?, ?, ?)",data)

conn.commit()
conn.close()

In [ ]:
"""
1) mysql의 emp테이블을 emp.csv로 저장

2)emp테이블을 이용해서 아래와 같은 프로그램
예시
        1) mysql
        2) sqlite
        연결할 db의 종류
        
        연결할 주소의 계정을 입력:(mysql의 경우)
        주소:
        아이디:
        패스워드:
        
        메뉴 선택
        1.조회
        2.입력
        3.수정
        4.삭제
        메뉴 :
"""

In [40]:
#메모리 DB
import sqlite3
con = sqlite3.connect(':memory:')
cur=con.cursor()
cur.execute("CREATE TABLE PhoneBook(Name text, PhoneNum text);")
cur.execute("INSERT INTO PhoneBook VALUES('Derick', '010-1234-5678');")

sql="INSERT INTO PhoneBook VALUES(:vname, :vphone);"
cur.execute(sql,{'vname':'tom', 'vphone':'010-222-2222'})

datalist= (('john','010-222-3333'), ('jane','010-244-3444'), ('jarry','010-555-5555'))
cur.executemany("INSERT INTO PhoneBook VALUES(?, ?)",datalist)

cur.execute("SELECT * FROM PhoneBook")
for row in cur:
    print(row)

#작업한 내용을 스크립트로 저장
f= open("data/datadump.sql",'w')
for line in con.iterdump():
    f.write('{0}\n'.format(line))
f.close()
con.commit

('Derick', '010-1234-5678')
('tom', '010-222-2222')
('john', '010-222-3333')
('jane', '010-244-3444')
('jarry', '010-555-5555')

In [47]:
#스크립트를 불러오기

con= sqlite3.connect("data/sqllite.db")
cur=con.cursor()

file=open("data/datadump.sql",'r')
string=file.read()
print(string)

cur.executescript(string)
conn.close()
file.close()

BEGIN TRANSACTION;
CREATE TABLE PhoneBook(Name text, PhoneNum text);
INSERT INTO "PhoneBook" VALUES('Derick','010-1234-5678');
INSERT INTO "PhoneBook" VALUES('tom','010-222-2222');
INSERT INTO "PhoneBook" VALUES('john','010-222-3333');
INSERT INTO "PhoneBook" VALUES('jane','010-244-3444');
INSERT INTO "PhoneBook" VALUES('jarry','010-555-5555');
COMMIT;

---

## Python과 MongoDB활용

    - pip install pymongo

In [2]:
import pymongo
from pymongo import MongoClient

#conn= pymongo.MongoClient("localhost",27017)
#conn=MongoClient("mongo://127.0.0.1:27017")  url형식도 가능
conn=MongoClient("localhost",27017) # localhost 대신 ip주소
print(conn)
conn.close()

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
#db와 연결

conn = MongoClient("localhost",27017)
db=conn.test
print(db)
conn.close()

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test')

In [12]:

conn = MongoClient("localhost",27017)
db=conn.test

collect=db.people
print(collect.count())


# data={'article':'Wine','text':'my first blog post!','tag':['mongodb','pymongo']}
# collect.insert_one(data)

#data={'article':'Tom','text':'my second blog post!','tag':['mongodb','pymongo']}
#host_id=collect.insert_one(data).inserted_id

print(host_id)
conn.close()

6
5e0eab79a4370d7abcf2472e

C:\Users\acorn\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere
  """

In [15]:
conn = MongoClient("localhost",27017)
db=conn.test
collect=db.people


data=list()
data.append({'name':'arow','age':20})
data.append({'name':'tom','age':21})
data.append({'name':'jane','age':22})
data.append({'name':'jerry','age':23})

collect.insert_many(data)

print(collect.count())

conn.close()

20

C:\Users\acorn\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: DeprecationWarning: count is deprecated. Use estimated_document_count or count_documents instead. Please note that $where must be replaced by $expr, $near must be replaced by $geoWithin with $center, and $nearSphere must be replaced by $geoWithin with $centerSphere

In [13]:
data=[{'number':i} for i in range(10)]
print(data)

[{'number': 0}, {'number': 1}, {'number': 2}, {'number': 3}, {'number': 4}, {'number': 5}, {'number': 6}, {'number': 7}, {'number': 8}, {'number': 9}]

In [21]:
#조회
conn = MongoClient("localhost",27017)
db=conn.test
collect=db.people

for i in collect.find({'age':{"$gte":20}}):
    print(i)

print(collect.find_one({"age":20}))  #첫번째꺼 하나만 찾아줌 ㅜ
conn.close()

{'_id': ObjectId('5e0e9eb987a666117e3856d9'), 'name': 'Betty', 'age': 20.0}
{'_id': ObjectId('5e0e9eb987a666117e3856da'), 'name': 'Charlie', 'age': 20.0, 'skills': ['mongodb', 'python', 'C']}
{'_id': ObjectId('5e0e9eb987a666117e3856db'), 'name': 'David', 'age': 20.0, 'score': 20.0}
{'_id': ObjectId('5e0eaeaaa4370d7abcf2473c'), 'name': 'arow', 'age': 20}
{'_id': ObjectId('5e0eaeaaa4370d7abcf2473d'), 'name': 'tom', 'age': 21}
{'_id': ObjectId('5e0eaeaaa4370d7abcf2473e'), 'name': 'jane', 'age': 22}
{'_id': ObjectId('5e0eaeaaa4370d7abcf2473f'), 'name': 'jerry', 'age': 23}
{'_id': ObjectId('5e0e9eb987a666117e3856d9'), 'name': 'Betty', 'age': 20.0}

In [23]:
#데이터 수정

conn = MongoClient("localhost",27017)
db=conn.test
collect=db.people

#collect.update_one,collect.update_many

collect.update_one({"article":"Tom"},{"$set":{"text":"my thrid blog post"}})

conn.close()